/*--------------------------------------------------------------
4.0 - MEDIA
-------------------------------------------------------------- */
.about-img {
	background: url(./../img/selfportrait.jpg) no-repeat;
}
.hero-img {
	background: url(./../img/tree.jpg) no-repeat;
}
.img {
	max-width: 100%;
	min-width: 300px;
	height: 300px;
	background-size: cover;
}
.article-img-1 {
	background: url(./../img/tree.jpg) no-repeat;
	height: 200px;
}
.article-img-styles {
	background-size: cover;
	border: 1px solid #f2f0ed;
}
/*--------------------------------------------------------------
5.0 - UTILITY
-------------------------------------------------------------- */

/*-- 5.1 - Background Colors/Colors --*/
.title, body > header a {
	color: #e6e6e6;
}
i {
	color: #CCCCCC;
}
.fa-twitter:hover {
	color: #1DA1F2;
}
.fa-github:hover, body, a {
	color: #404040;
}
.fa-linkedin:hover {
	color: #0077B5;
}
.main-nav a:hover, .mobile-nav a:hover, .fa-bars:hover, .title a:hover, .article-item:hover .article-preview-title, .underline-bb:hover, .contact-h li a:hover {
	color: #71B6FC;
	border-color: #71B6FC;
}
.article-item a {
	background-color: transparent;
}
.mobile-nav {
	background-color: #F4F2F0;
}
.bkgrd-grey {
	background-color: #404040;
}